
.header {
    background-color: #ffffff; /* Header arka plan rengi */
    color: #e1e1e1; /* Header metin rengi */
    height: 180px;
    
}
.container {
    width: 100%; /* Container genişliği */
    padding: 0; /* Yatayda boşlukları kaldırır */
   
}

/* Logo stilini tanımlamak için */
.logo img {
    width: auto; /* Resmin maksimum genişliği */
    max-height: 150px; /* Resmin otomatik boyutlandırılması */
    border-radius: 100%;
}
.col-3 {
    display: flex;
    width: auto; /* Sayfanın genişliğinin %25'ini kaplar */
    float: left; /* Sol tarafa yaslanır */
    box-sizing: border-box; /* Kenarlıkları ve dolgu hesaba katılır */
    
}

.col-9 {
    display: flex; /* Flex container oluşturur */
    justify-content: flex-end; /* İçeriği sağa yaslar */
    align-items: center; /* İçeriği dikey olarak ortalar */
    padding: 0 100px;
}

/* Dropdown menüyü varsayılan olarak gizle */
.dropbtn {
    background-color: #717471;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 30%;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #4e4e4e;
  }